{% extends "base.html" %}

    {% block content %}
        <div class="container bg-white px-24 pb-24 pt-8 space-y-24 landpage">
            <p class="text-center text-4xl font-extrabold text-green-700 text-opacity-75 subpixel-antialiased">Summarize any type of information on Twitter</p>

            <div class="flex flex-row space-x-32">
                <div class="space-y-10">
                    <h4 class="text-3xl font-medium">How it works</h4>

                    <div class="space-y-10">
                        <div class="flex flex-row space-x-3">
                            <svg class="text-green-700 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z" clip-rule="evenodd" />
                            </svg>
                            <p>Mention the bot as a reply</p>
                        </div>
                        <div class="flex flex-row space-x-3">
                            <svg class="text-green-700 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z" clip-rule="evenodd" />
                            </svg>
                            <p>Follow the bot to get updates</p>
                        </div>
                        <div class="flex flex-row space-x-3">
                            <svg class="text-green-700 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z" clip-rule="evenodd" />
                            </svg>
                            <p>Click on the link</p>
                        </div>
                    </div>

                </div>

                <div class="p-2 shadow-2xl bg-green-700 rounded-3xl">
                    <img src="https://res.cloudinary.com/iyanuashiri/image/upload/v1609185899/summarizer2.png">
                </div>

            </div>

        </div>

    {% endblock %}
